.searchSection {
    position: relative;
}

.searchField {
    height: 45px;
    width: 270px;
    border-radius: var(--default-border-radius);
    font-size: var(--fontSize-home);
    padding-left: 50px;
    box-shadow: var(--default-box-shadow);
    outline: none;
    border: 0px;
}

.searchIcon {
    position: absolute;
    top: 30%;
    left: 20px;
    font-size: 17px;
}

@media screen and (max-width: 600px) {
    .searchField {
        width: 250px;
    }
}
