:root {
    font-family: 'Nunito Sans', Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    --color-dark-mode-elements: hsl(209, 23%, 22%);
    --color-dark-mode-background: hsl(207, 26%, 17%);
    --color-dark-mode-text: hsl(0, 0%, 100%);

    --color-light-mode-elements: hsl(0, 0%, 100%);
    --color-light-mode-background: hsl(0, 0%, 98%);
    --color-light-mode-text: hsl(200, 15%, 8%);

    --color-white: hsl(0, 0%, 100%);

    --default-border-radius: 6px;
    --default-box-shadow: 0px 0px 5px -2px rgba(66, 68, 90, 1);

    --fontSize-home: 14px;
    --fontSize-detail: 16px;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.dark__mode__background {
    background-color: var(--color-dark-mode-background);
}
.dark__mode__element {
    background-color: var(--color-dark-mode-elements);
}
.dark__mode__text {
    color: var(--color-dark-mode-text);
}

.dark__mode__text:hover {
    color: var(--color-dark-mode-text);
}

.light__mode__background {
    background-color: var(--color-light-mode-background);
}
.light__mode__element {
    background-color: var(--color-light-mode-elements);
}
.light__mode__text {
    color: var(--color-light-mode-text);
}

.light__mode__text:hover {
    color: var(--color-light-mode-text);
}
